.kanbas-nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.kanbas-nav-link .nav-text {
    margin-left: 8px;
}

.kanbas-nav-link:hover {
    background-color: white;
    color: red;
}

.kanbas-nav-link.active {
    background-color: white;
    color: red;
}

#wd-dashboard-link,
#wd-course-link,
#wd-calendar-link,
#wd-inbox-link,
#wd-labs-link {
    color: white;
}

#wd-account-link {
    color: white;
}

.kanbas-nav {
    display: block;
    width: 110px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: black;
    z-index: 2;
}

.kanbas-nav img {
    margin: 15px auto;
    display: block;
}

@media (max-width: 768px) {
    .kanbas-nav {
        display: none;
    }
}

@media (min-width: 769px) {
    .kanbas-nav {
        display: block;
    }
}
